@charset "utf-8";
#dkInspect_block, #dkInspect_center, #dkInspect_footer, .dkInspect_category, span.dkInspect_property, #dkInspect_block h1, #dkInspect_block h2, #dkInspect_block ul, #dkInspect_block li, #dkInspect_block span {
    font-family: "Lucida sans", helvetica, sans-serif !important;
    font-size: 12px !important;
    z-index: 9999 !important;
    background-color: #fff !important;
    padding: 0 !important;
    margin: 0 !important;
    text-indent: 0px !important;
    text-align: left !important;
    visibility: visible !important;
    width: auto !important;
    height: auto !important;
    line-height: 20px;
    clear: both !important;
}
#dkInspect_block {
    display: none;
    /*font-size: 10px !important;*/
    color: #555 !important;
    position: absolute !important;
    border: 1px solid #888 !important;
    z-index: 2147483647 !important;
}
#dkInspect_block h1 {
    color: #fff !important;
    float: inherit !important;
    font-size: 13px !important;
    text-transform: none !important;
    text-align: center !important;
    display: block !important;
    background-color: #374a58 !important;
    padding: 20px 10px 5px !important;
    /* margin: 5% auto !important; */
    max-width: 320px !important;
    overflow: hidden !important;
}
#dkInspect_center {
    padding: 10px 12px 5px 12px !important;
    overflow: hidden !important;
    clear: both !important;
}
#dkInspect_footer {
    padding-top: 5px;
    color: #555 !important;
    text-align: center !important;
    width: 302px !important;
    height: 30px !important;
    display: block !important;
}
.dkInspect_category {
    padding: 0 5px !important;
}
#dkInspect_block h2 {
    padding-top: 6px !important;
    color: #374a58 !important;
    font-size: 13px !important;
    text-align: left !important;
    letter-spacing: -0.5px !important;
}
#dkInspect_block ul {
    padding: 5px 5px 10px 5px !important;
    /*list-style:none !important;*/
    width: 282px !important;
}
#dkInspect_block li {
    padding-left: 10px !important;
}
#dkInspect_block span.dkInspect_property {
    color: #333 !important;
    float: left !important;
    width: 110px !important;
    display: block !important;
    overflow: hidden !important;
}
#dkInspect_tracking {
    position: absolute !important;
    z-index: 2000005 !important;
    outline-width: 2px !important;
    outline-offset: -1px !important;
    /*cursor: crosshair !important;*/
    cursor: none !important;
}
