{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "88"
        },
        "modules": false,
        "bugfixes": true
      }
    ]
  ],
  "sourceMaps": true,
  "comments": false
}
