@charset "utf-8";

/* A11y Calculator Block - BEM Methodology */
.a11y-calculator {
  font-family: 'Lucida sans', helvetica, sans-serif !important;
  font-size: 12px !important;
  padding: 0 !important;
  margin: 0 !important;
  text-indent: 0 !important;
  text-align: left !important;
  visibility: visible !important;
  line-height: 20px;
  clear: both !important;
  height: auto !important;
  width: 300px !important;
  position: fixed !important;
  left: 5px !important;
  top: 5px !important;
  z-index: 2147483647 !important;
  background-color: #fff !important;
  border: 2px solid #374a58 !important;
}

.a11y-calculator h1 {
  color: #fff !important;
  float: inherit !important;
  font-size: 14px !important;
  text-transform: none !important;
  text-align: center !important;
  display: block !important;
  background-color: #374a58 !important;
  padding: 10px 10px 5px !important;
  margin: 0 auto !important;
  overflow: hidden !important;
  cursor: move !important;
  user-select: none !important;
}

.a11y-calculator__result {
  margin: 30px 10px 5px 10px !important;
}

.a11y-calculator h2 {
  padding-top: 6px !important;
  color: #374a58 !important;
  font-size: 13px !important;
  font-weight: bold !important;
  text-align: left !important;
  letter-spacing: -0.5px !important;
}

.a11y-calculator ul {
  padding: 5px 5px 10px 5px !important;
  list-style: none !important;
  margin: 0 !important;
}

.a11y-calculator li {
  padding-left: 10px !important;
  margin: 0 !important;
}

.a11y-calculator li input[type='text'] {
  width: 150px !important;
  line-height: 1.5 !important;
  margin: 5px 0 !important;
  border: 1px solid #374a58 !important;
}

.a11y-calculator span.a11y-calculator__property {
  color: #333 !important;
  float: left !important;
  width: 100px !important;
  display: block !important;
  overflow: hidden !important;
}

.a11y-calculator__button {
  background-color: #374a58 !important;
  border: 1px solid #ddd !important;
  color: #fff !important;
  padding: 5px 12px !important;
  margin: 5px 0 0 10px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  cursor: pointer !important;
  font-size: 12px !important;
  height: 24px !important;
  line-height: 12px !important;
}
